<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Internet Programing Lab I</title>
    </head>
    <body>
        <table width = "100%">
            <tr>
                <td><img src="Screenshot 2023-12-05 130451.png" alt="logo" height="100" width=" 100"></td>
                <td></td>
                <td align="right">
                    <a href="https://www.youtube.com/@FearAndPodcast">podacst</a>
                    |
                    <a href="https://www.reddit.com/?rdt=40717">article</a>
                    |
                    <a href="https://twitter.com">Ideas</a>
                    |
                    <a href="https://www.lifeoptimizer.org/2021/11/05/eric-hoffer-self-education/">About us</a>
                    |
                    <a href="https://www.lifeoptimizer.org/2021/11/05/eric-hoffer-self-education/">Contact us</a>
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4"> <hr></td>
            </tr>
            <tr>
                <td rowspan="12"><pre>                         </pre></td>
                <td></td>
                <td align="right">
                    <a href="">Go To bottum</a>
                </td>
                <!--
                <td rowspan="12"><pre>               </pre></td>-->
            </tr>
            <tr>
                <td>
                    <h1>Eric Hoffer and the Power of Self-Education</h1>
                </td>
                <td>
                    <h2>Recent Posts</h2>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <img src="power-of-self-education.jpg" alt="" height="400" width="650">
    
                </td>
                <td>
                    <ul>
                        <big><li><strong>Articles</strong></li></big>
                        <ul>
                            <li>The Importance of Goals,<br>
                                Especially During Difficult<br>
                                Times<br>
                            </li>
                            <li>
                                5 Steps to Discovering Your<br>
                                Life Purpose In 2022! <br>
                            </li>
                        </ul>
                    </ul>
                </td>
                <!-- here -->
            </tr>
            <tr>
                <td>
                    <ul>
                        <big><li><strong>Ideas</strong></li></big>
                            <ul>
                                <li>10 Books to Read in The Fall</li>
                                <li>Top Web Development Projects<br>
                                    Ideas
                                </li>
                            </ul>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <h2>Most Viewed Articls</h2>
                        <ol type="I">
                            <li>Instant Gratification Is Stopping You<br>
                                From Reaching Your Goals!
                            </li>
                            <li>
                                Stop Juggling Between Work And Life<br>
                            </li>
                        </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        I recently read The True Believer by Eric Hoffer. It’s a book about how mass movements evolve. With<br>
                        a lot
                        of historical 
                        examples, the book explains the patterns and common threads among them. It’s an <br>
                        insightful book and reading it was a great learning experience for me.
                        <table>
                            <tr>
                            <td><img src="" alt="The True
                                Believer book
                                cover" width = '10'>
                            </td>
                            <td>
                                <p>
                                What I’d like to share with you here is not
                                the content of the book, <br>
                                though. Instead, I’d like to share with you about 
                                the author.
                                        <br><br>
                                You see, I didn’t know about Eric Hoffer before. 
                                But I imagined he <br>
                                must be a famous professor 
                                from a well-known university. I mean,<br>
                                what else could explain the depth of his insights? The True 
                                Believer <br>
                                is an influential book. Here is how 
                                <a href="">Wikipedia</a> put it... <a href="">read</a>
                                </p>
                            </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="">more</a>
                                </td>
                            </tr>
                        </table>
                    </p>
                </td>
                <td>
                    <h2>IP Project winners</h2>
                    <table>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rank
                            </th>
                            <th>
                                Award
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                        <tbody>
                            <tr>
                                <td>
                                    First
                                </td>
                                <td>
                                    Free hosting and support
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Second
                                </td>
                                <td>
                                    5GB Mobile Data
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Third
                                </td>
                                <td>
                                    1GB Mobile Data
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                    <strong>New Podacst</strong>
                    <h1>Jack Ma - How I Overcame Failure</h1>
                    <audio controls = "controls " src="y2mate.is - The Gold Watch Pulp Fiction 7 12 Movie CLIP 1994 HD-YFtHjV4c4uw-192k-1697121065.mp3">
                        your browser does not support the audio src element
                    </audio>
                </td>
            </tr>
            <tr>
                <td>
                    <hr>
                    <strong>Pick of The Week</strong>
                    <h1>24 Hours A Day</h1>
                    <video controls="controls" width = "500">
                        <source src = "scene10001-0032.mkv" >
                    </video>
                </td>
            </tr>
            <tr>
               <td colspan="2">
                    <hr>
               </td> 
            </tr>
            <tr>
                <td>Follow us on <a href="https://www.facebook.com/">facebook</a> | <a href="https://twitter.com">twitter</a></td>
                <td align="right"><a href="https://twitter.com">privacy</a> | <a href="https://twitter.com">Terms of use</a></td>
            </tr>
            <tr>
                <td colspan="2" align="center">Copyright © AASTU SEng 2021, All Rights Reserved</td>
            </tr>
        </table>
    </body>
</html>