<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link rel="stylesheet" href="ex3Style.css">
    <header>
        <div class="headerTop">
            <img src="Screenshot 2023-12-05 130451.png" alt="logo" height="100" width=" 100"></td>
            <div class = "links">
                <a href="https://www.youtube.com/@FearAndPodcast">podacst</a>
                |
                <a href="https://www.reddit.com/?rdt=40717">article</a>
                |
                <a href="https://twitter.com">Ideas</a>
                |
                <a href="https://www.lifeoptimizer.org/2021/11/05/eric-hoffer-self-education/">About us</a>
                |
                <a href="https://www.lifeoptimizer.org/2021/11/05/eric-hoffer-self-education/">Contact us</a>
            </div>
        </div>
        
        <a href="" class="goBottom">Go To bottum</a>
    </header>
    <main>
        <div class="pragraphs">
            <h1>Eric Hoffer and the Power of Self-Education</h1>
            
            <div class="picture">
                <img src="power-of-self-education.jpg" alt="" height="400" width="650">
            </div>
            <div class="imageText">
            <p>
                I recently read The True Believer by Eric Hoffer. It’s a book about how mass movements evolve. With<br>
                a lot
                of historical 
                examples, the book explains the patterns and common threads among them. It’s an <br>
                insightful book and reading it was a great learning experience for me.
                <div class="subtext">
                    <div class="pic">
                    <img src="" alt="The True
                        Believer book
                        cover" width = '10' class="image">
                    </div>
                    <p>
                        What I’d like to share with you here is not
                        the content of the book, <br>
                        though. Instead, I’d like to share with you about 
                        the author.
                                <br><br>
                        You see, I didn’t know about Eric Hoffer before. 
                        But I imagined he <br>
                        must be a famous professor 
                        from a well-known university. I mean,<br>
                        what else could explain the depth of his insights? The True 
                        Believer <br>
                        is an influential book. Here is how 
                        <a href="">Wikipedia</a> put it... <a href="">read</a>
                            <a href="">more</a>
                    </p>
                </div>
                </div>
            
            <strong>New Podacst</strong>
            <h1>Jack Ma - How I Overcame Failure</h1>
            <audio controls = "controls " src="y2mate.is - The Gold Watch Pulp Fiction 7 12 Movie CLIP 1994 HD-YFtHjV4c4uw-192k-1697121065.mp3">
                your browser does not support the audio src element
            </audio>
            
            <strong>Pick of The Week</strong>
            <h1>24 Hours A Day</h1>
            <video controls="controls" width = "500">
                <source src = "scene10001-0032.mkv" >
            </video>
        </div>
        <div class="list">
            <h2>Recent Posts</h2>
                <ul>
                    <big><li><strong>Articles</strong></li></big>
                    <ul>
                        <li>The Importance of Goals,<br>
                            Especially During Difficult<br>
                            Times<br>
                        </li>
                        <li>
                            5 Steps to Discovering Your<br>
                            Life Purpose In 2022! <br>
                        </li>
                    </ul>
                </ul>
                <ul>
                    <big><li><strong>Ideas</strong></li></big>
                        <ul>
                            <li>10 Books to Read in The Fall</li>
                            <li>Top Web Development Projects<br>
                                Ideas
                            </li>
                        </ul>
                </ul>
                <h2>Most Viewed Articls</h2>
                    <ol type="I">
                        <li>Instant Gratification Is Stopping You<br>
                            From Reaching Your Goals!
                        </li>
                        <li>
                            Stop Juggling Between Work And Life<br>
                        </li>
                    </ol>
                    <h2>IP Project winners</h2>
                <table>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Rank
                            </th>
                            <th>
                                Award
                            </th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                        <tbody>
                            <tr>
                                <td>
                                    First
                                </td>
                                <td>
                                    Free hosting and support
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Second
                                </td>
                                <td>
                                    5GB Mobile Data
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Third
                                </td>
                                <td>
                                    1GB Mobile Data
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2">
                                ----------------------------------------------------
                            </td>
                        </tr>
                </table>
        </div>
    </main> 
    <footer>
        <div class="sub">
            <div>Follow us on <a href="https://www.facebook.com/">facebook</a> | <a href="https://twitter.com">twitter</a></div>
            <div><a href="https://twitter.com">privacy</a> | <a href="https://twitter.com">Terms of use</a>
        </div>   
    </footer>
    <p class="copy">Copyright © AASTU SEng 2021, All Rights Reserved </p>           
</body>
</html>